@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

:root {
    --BrightBlue: hsl(220, 98%, 61%);
    /* --CheckBg: linear-gradient hsl(192, 100%, 67%) to rgb(192, 88, 243); */
    --CheckBg: linear-gradient(140deg, rgba(71,218,255,1), rgba(192,88,243,1)); ;
    --Todo-Bg-clr: hsl(0, 0%, 98%);
    --Bg-clr: hsl(236, 33%, 92%);
    --Border-clr: hsl(233, 11%, 84%);
    --Text-light-clr: hsl(233, 11%, 84%);
    --Text-accent-clr: hsl(236, 9%, 61%);
    --Text-hover-clr: hsl(235, 19%, 35%);
    --Text-dark-clr: hsl(235, 19%, 35%);
    --Text-clr: hsl(236, 9%, 61%);
}

[data-theme='light'] #theme {
  --Todo-Bg-clr: hsl(0, 0%, 98%);
  --Bg-clr: hsl(236, 33%, 92%);
  --Border-clr: hsl(233, 11%, 84%);
  --Text-light-clr: hsl(233, 11%, 84%);
  --Text-hover-clr: hsl(235, 19%, 35%);
  --Text-accent-clr: hsl(236, 9%, 61%);
  --Text-dark-clr: hsl(235, 19%, 35%);
  --Text-clr: hsl(236, 9%, 61%);
}

[data-theme='dark'] {
    --Bg-clr: hsl(235, 21%, 11%);
    --Todo-Bg-clr: hsl(235, 24%, 19%);
    --Text-light-clr: hsl(234, 39%, 85%);
    --Text-hover-clr: hsl(236, 33%, 92%);
    --Text-accent-clr: hsl(234, 11%, 52%);
    --Text-dark-clr: hsl(233, 14%, 35%);
    --Border-clr: hsl(237, 14%, 26%);
    --Text-clr: hsl(234, 39%, 85%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  font-family: 'Outfit', sans-serif;
  color: var(--Text-clr);
  background-color: var(--Bg-clr);
}

.todo-input,
.todo-container > *,
.item,
.legend {
    max-width: 540px;
    height: 64px;
}

.todo-input,
.todo {
  margin-left: 16px;
  letter-spacing: 0.05rem;
}

.bgImage {
  width: 100%;
  max-width: 100%;
  height: auto;
}

main {
  position: absolute;
  width: 540px;
  margin: auto;
  inset: 70px 0 0 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  color: var(--Todo-Bg-clr);
}

header .fas {
  font-size: 1.5em;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: hsl(0, 0%, 98%);
}

#theme {
  cursor: pointer;
}

form,
.todo-container {
  background-color: var(--Todo-Bg-clr);
  border-radius: 5px;
}

form,
.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 27px;
  position: relative;
}

.todo-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  letter-spacing: .1rem;
  caret-color: var(--BrightBlue);
  color: var(--Text-clr);
  background-color: transparent;
}

.todo-input::placeholder {
  color: var(--Text-accent-clr);
}

.item > .complete-btn {
  cursor: pointer;
}

.checkbox,
.complete-btn {
  position: relative;
  margin-right: 30px;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox::after,
.complete-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background: var(--Todo-Bg-clr);
  position: absolute;
  top: -10px;
  left: -3px;
  z-index: 10;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.checkbox::before,
.complete-btn::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--Border-clr);
  position: absolute;
  top: -11px;
  left: -4px;
  z-index: 5;
}

/* .checkbox:hover::before, */
.complete-btn:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom, #57ddff, #c058f3);
}

.checkbox:hover:enabled::after,
.complete-btn:checked::after {
  background: no-repeat url(./images/icon-check.svg) center/60%, -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: no-repeat url(./images/icon-check.svg) center/45%, linear-gradient(to bottom, #57ddff, #c058f3);
  cursor: pointer;
}

.todo-container {
  margin-top: 24px;
  background-color: var(--Todo-Bg-clr);
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

.todo-items {
  width: 100%;
  height: 100%;
  list-style: none;
}

.item {
  border-bottom: 1px solid var(--Border-clr);
  transition: all 0.5s ease;
  user-select: none;
}

.item:hover {
  cursor: grab;
}

.item.grab {
  cursor: grabbing;
}

.item.hint {
  opacity: .5;
  background-color: #ff0202;
}

.item.active {
  background-color: #feffb4;
/*   border-radius: 5px; */
}

.delete-button {
  display: none;
  width: 27.5px;
  height: 27.5px;
  margin-left: auto;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-button:before, 
.delete-button:after{
  content:'';
  position: absolute;
  width: 23px;
  height: 1px;
  background-color: var(--Text-dark-clr);
  border-radius: 2px;
  top: 16px;
}

.delete-button:before{
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg);
  left:3px;
}

.delete-button:after{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform:rotate(-45deg);
  right:2px;
}

.item:hover .delete-button {
  display: block;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.checked .todo {
  /* text-decoration: line-through; */
  background: linear-gradient(to bottom, var(--Text-clr), var(--Text-clr)) no-repeat center 11px / 100% 1px;
  opacity: 0.3;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.todoMenu {
  width: 100%;
}

.todoMenu,
.filter-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Text-accent-clr);
}

.todoMenu {
  padding: 0 24px;
}

.todoMenu > * {
  font-size: 14px;
}

.filter-todo > *:hover,
.clear-btn:hover {
  cursor: pointer;
}

.filter-todo > *:hover {
  color: var(--Text-hover-clr);
}

.filter-todo {
  gap: 18px;
  margin-left: 3em;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
}

.filter-todo .active {
  color: var(--BrightBlue);
}

.legend {
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
  letter-spacing: .05rem;
  color: var(--Text-accent-clr);
}

.remaining span {
  display: inline-block;
  width: 10px;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
